
* {
    font-family: 'Asset', cursive;
}

h1{
  font-family: 'Creepster', cursive;
  color: darkgoldenrod;
}

h2{
  font-family: 'Eater', cursive;
  color: chartreuse;
}

.player-one {
    /* display: flex; */
    justify-content: flex-start;
    width: 30%;
    align-items: flex-start;
    color: chartreuse;
}

.player-two {
      width: 30%;
      align-items: flex-end;
      color: green;
  }

.token-one, .token-two {
    font-size: 5em;
}

.center-container {
    display: flex;
    width: 40vw;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.game-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

/* .game-container{
  display: grid;
  grid-template-columns: 110px 110px 110px;
  width: 90%;
} */

.boxes{
    width: 33%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    /* background-color: #b59edd; */
}

.a2 {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.b1 {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;;
}

.b2 {
    border: 1px solid #000000;
}

.b3 {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.c2 {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

body{
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url('https://c.tenor.com/tgOpFtPm0ZIAAAAC/scooby-skull.gif') no-repeat center center fixed;
  background-size: cover;
  margin:0;
}
h1, h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

p {
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

/*
.h3 {
  font-size: 2em;
} */

/*
.player-one-wins, .player-two-wins {
    font-size: 1.5em;
} */

.hidden {
  display: none;
}
